.roven--select, 
.roven--select_title, 
#roven--select_current, 
.roven--select_arrow,
.roven--select_arrow_line, 
.roven--select_list, 
.roven--select p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.roven--select p {
    white-space: nowrap;
}
.roven--select {
    $format_green: #00B53E;
    position: relative;
    display: inline-block;

    .roven--select_title {
        position: relative;
        border: 2px solid $format_green;
        padding: 10px 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        transition: .2s;
        background: #FFF;
        z-index: 2;

        p:first-child {
            transition: .3s;
            position: relative;
        }
        #roven--select_current {
            transition: .2s;
            position: absolute;
        }
        .roven--select_curent_fixed::after {
            content: '';
            position: absolute;
            right: 0;
            width: 20px;
            height: 100%;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.49) 30.21%, #FFFFFF 65.1%);
        }
        .roven--select_hidden {
            opacity: 0;
        }
        
        .roven--select_arrow {
            margin-left: 20px;
            display: flex;
            transition: .3s;
            .roven--select_arrow_line {
                width: 2px;
                height: 15px;
                border-radius: 5px;
                background: $format_green;
                transition: .3s;

                &:first-child {
                    transform: rotate(-40deg);
                }
                &:last-child {
                    transform: rotate(40deg);
                    margin-left: 7px;
                }
            }
        }
        .roven--select_show {
            .roven--select_arrow_line {
                &:first-child {
                    transform: rotate(40deg);
                }
                &:last-child {
                    transform: rotate(-40deg);
                }
            }
        }
    }
    .roven--select_list {
        list-style: none;
        border-radius: 0 0 10px 10px;
        margin-top: -10px;
        overflow: hidden;
        position: absolute;
        width: 100%;
        background: #FFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        z-index: 1;
        height: 0;
        transition: .2s;
        max-height: 400px;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0;
        }        
        li {
            transition: .2s;
            padding: 5px 20px;
            &:hover {
                background: rgb(0, 181, 62, 0.1);
                cursor: pointer;
            }
        }

    }
}